<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="__CONSOLE__/images/favicon.png" type="image/png">


    <!-- CSS -->
    <link rel="stylesheet" href="__CONSOLE__/css/supersized.css">
    <link rel="stylesheet" href="__CONSOLE__/css/style.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

</head>

<body>

<div class="page-container">
    <h1>登录管理中心</h1>
    <form action="" method="post">
        <input type="text" name="username" class="username" placeholder="Username" value="">
        <input type="password" name="password" class="password" placeholder="Password" value="">
        <button type="submit">登　录</button>
        <div class="error"><span>+</span></div>
    </form>
</div>


<!-- Javascript -->
<script src="__CONSOLE__/js/jquery-1.11.1.min.js"></script>
<script src="__CONSOLE__/js/supersized.3.2.7.min.js"></script>
<script src="__CONSOLE__/js/supersized-init.js"></script>
<script src="__CONSOLE__/js/scripts.js"></script>
</body>

</html>

