{extend name="template/index" /}

{block name="css"}
<link href="__CONSOLE__/css/prettyPhoto.css" rel="stylesheet">
{/block}

{block name="content"}
<div class="contentpanel">

    <ul class="filemanager-options">
        <li>
            <div class="ckbox ckbox-default">
                <input type="checkbox" id="selectall" value="1"/>
                <label for="selectall">全选</label>
            </div>
        </li>
        <li>
            <a href="javascript:checkDel('0');" class="itemopt disabled"><i class="fa fa-trash-o"></i> 删除</a>
        </li>
    </ul>


    <div class="row filemanager">
        {volist name="list" id="vo"}
        <div class=" col-sm-3 col-md-2 images">
            <div class="thmb">
                <div class="ckbox ckbox-default">
                    <input type="checkbox" name="checkid[]" id="check-{$vo.id}" value="{$vo.id}"/>
                    <label for="check-{$vo.id}"></label>
                </div>
                <div class="btn-group fm-group">
                    <a href="javascript:checkDel('{$vo.id}');" class="btn btn-default fm-toggle fa fa-trash-o"
                       title="删除"></a>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                    <a href="{$vo.file_path}" data-rel="prettyPhoto">
                        <img src="{$vo.file_path}" class="img-responsive" alt=""/>
                    </a>
                </div>
                <small class="text-muted">上传时间：{$vo.file_time|date="Y-m-d H:i:s",###}</small>
            </div><!-- thmb -->
        </div><!-- col-xs-6 -->
        {/volist}
    </div><!-- row -->

    {:$list->render()}

</div>
{/block}

{block name="script"}
<script src="__CONSOLE__/js/jquery.prettyPhoto.js"></script>
<script>
    jQuery(document).ready(function () {

        "use strict";

        jQuery('.thmb').hover(function () {
            var t = jQuery(this);
            t.find('.ckbox').show();
            t.find('.fm-group').show();
        }, function () {
            var t = jQuery(this);
            if (!t.closest('.thmb').hasClass('checked')) {
                t.find('.ckbox').hide();
                t.find('.fm-group').hide();
            }
        });

        jQuery('.ckbox').each(function () {
            var t = jQuery(this);
            var parent = t.parent();
            if (t.find('input').is(':checked')) {
                t.show();
                parent.find('.fm-group').show();
                parent.addClass('checked');
            }
        });


        jQuery('.ckbox').click(function () {
            var t = jQuery(this);
            if (!t.find('input').is(':checked')) {
                t.closest('.thmb').removeClass('checked');
                enable_itemopt(false);
            } else {
                t.closest('.thmb').addClass('checked');
                enable_itemopt(true);
            }
        });

        jQuery('#selectall').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', true);
                    jQuery(this).addClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').show();
                });
                enable_itemopt(true);
            } else {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', false);
                    jQuery(this).removeClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').hide();
                });
                enable_itemopt(false);
            }
        });

        function enable_itemopt(enable) {
            if (enable) {
                jQuery('.itemopt').removeClass('disabled');
            } else {

                // check all thumbs if no remaining checks
                // before we can disabled the options
                var ch = false;
                jQuery('.thmb').each(function () {
                    if (jQuery(this).hasClass('checked'))
                        ch = true;
                });

                if (!ch)
                    jQuery('.itemopt').addClass('disabled');
            }
        }

        jQuery('.img-responsive').height(jQuery('.img-responsive').width());
        jQuery("a[data-rel^='prettyPhoto']").prettyPhoto();
    });

</script>
{/block}

