{extend name="template/index" /}

{block name="content"}
<div class="panel panel-default">

    <div class="panel-heading">
        <h4 class="panel-title">{:$mate_title}</h4>
    </div>

    <div class="panel-body">

        <form class="form-horizontal form-bordered" action="" method="">
            <div class="form-group">
                <div class="col-md-8">
                    <a href="{:url('backup')}" class="btn btn-link">
                        <i class="fa fa-plus">&nbsp;添加备份&nbsp;</i>
                    </a>

                    <a href="{:url('mysql')}" class="btn btn-link">
                        <i class="fa fa-database">&nbsp;数据库&nbsp;</i>
                    </a>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-info table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>备份名称</th>
                    <th>备份时间</th>
                    <th>备份大小</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <th>{$i}</th>
                    <td>{$vo.name}</td>
                    <td>{$vo.time}</td>
                    <td>{$vo.size}</td>
                    <td>
                        <a class="btn btn-xs btn-success" href="{:url('dowonload',['name'=>$vo.name])}">下载</a>
                        <a class="btn btn-xs btn-danger" href="{:url('delete',['name'=>$vo.name])}">删除</a>
                    </td>
                </tr>
                {/volist}

                {empty name="list"}
                <tr>
                    <td colspan="7">
                        <div style='font-size:24px;margin:30px;'>没有备份文件</div>
                    </td>
                </tr>
                {/empty}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}